<h1>user profile</h1>
<div class="profile-container">
  <div class="bookings-container">
    <% current_user.bookings.each do |booking| %>
    <h1>Amount: <%= booking.quantity %></h1>
    <h1>Event name: <%= booking.event.name %></h1>
    <h1>Venue: <%= booking.event.venue.location %></h1>
    <h1>Price: <%= booking.event.price %></h1>
    <% end %>
  </div>
<br>
  <div class="venue-container">
    <h1>Your venues</h1>
      <% current_user.venues.each do |venue|  %>
      <h2>Name: <%= venue.name %></h2>
      <h2>Location: <%= venue.location %></h2>
      <% end %>
  </div>
</div>
