<ul class="nav nav-tabs user-nav justify-content-center" id="myTab" role="tablist">
  <li class="nav-item" style="background-color: #068D9D  ;" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">My Events</button>
  </li>
  <li class="nav-item " style="background-color: #068D9D ;" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My Venues</button>
  </li>
</ul>
<div class="sign-up-form">
  <h1>Welcome, <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>!</h1>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
    <h2 class="welcome_bottom">Your tickets</h2>
  <div>
      <% current_user.bookings.each do |booking| %>
        <div class="profile_card">
          <%= link_to event_path(booking.event) do %>
            <div class="qr_box">
              <%= image_tag("qr_code.png", height: '200', width: '200', class: "ticket_code")%>
            </div>
            <div>
              <h2 class="event_title"><%= booking.event.name %></h2>
            </div>
            <div class="ticket_info">
              <p><i class="fa-solid fa-location-dot"> </i> <%= booking.event.venue.location %></p>
              <p><i class="fa-solid fa-calendar-days"> </i> <%= booking.event.time.strftime("%A, %b %d") %></p>
              <p><i class="fa-solid fa-clock"> </i> <%= booking.event.time.to_formatted_s(:time) %></p>
              <p><i class="fa-solid fa-ticket"></i> <%= booking.quantity %></p>
              <% total = booking.event.price * booking.quantity %>
              <p><i class="fa-solid fa-sterling-sign"></i> <%= total %> </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h2 class="welcome_bottom">Your <strong> Stumbl </strong> Venues</h2>
    <%= link_to "New Venue".html_safe, new_venue_path, class: "button-general" %>
    <% current_user.venues.each do |venue|  %>
      <%= link_to venue_path(venue) do %>
        <div class="card-product-user">
          <%= cl_image_tag venue.photos[0].key, crop: :fill %>
            <div class="card-product-user-flex">
              <div class="card-product-infos">
                <h2><strong></strong><%= venue.name %></h2>
                <p><strong>&#128205; :</strong><%= venue.location %>.</p>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
