 <%= form_with url: events_path, method: :get do |event| %>
  <div class="card-search">
    <div class="card-body">
      <div class="mb-3">
        <%= event.label "What kind of event are you looking for?", { class: "form-label"} %> <br>
        <%= event.select :category, [["Any"],["Activity"], ["Music"], ["Art"], ["Cinema"], ["Food & Drink"] ],
          value: params[:category],
          class: "form-control"%>
      </div>
      <div class="mb-3">
        <%= event.label "If you chose music, which genre?", { class: "form-label"} %> <br>
        <%= event.select :genre, [["Any"],["Electronic"], ["DJ"], ["Indie"], ["Rock"], ["Techno"], ["Hip-hop"], ["Disco"], ["Jazz"]],
          value: params[:genre],
          class: "form-control"%>
      </div>
      <div class="mb-3">
        <%= event.label "Ticket price", { class: "form-label"} %> <br>
        <%= event.select :price, [["Any"], ["Free"], ["Under £10"], ["Under £20"], ["Over £20"]],
          value: params[:price],
          class: "btn btn-secondary dropdown-toggle form-control" %>
      </div>
      <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"]%>">
        <input data-address-autocomplete-target="address" class="d-none" label="Location" type="text" name="location" id="location">
      </div>
      <div>
        <label class="form-label">Radius</label> <br>
        <input type="range" name ="radius" value="10" step="1" min="1" max="20" oninput="this.nextElementSibling.value = this.value">
        <output>10</output>
      </div>
      <%= submit_tag "Search", class: "button-general" %>
    </div>
  </div>
<% end %>
