<div class="card-event">
  <div class="card-event-infos">
    <%= link_to event_path(event) do %>
      <div>
        <h2 style = "color: black"><%= event.name %></h2>
        <p style = "color: black">🗓 <%= event.date %> 📍 <%= event.venue.location %></p>
      </div>
      <h2 class="card-event-pricing" style = "color: black">💷 £<%= event.price %></h2>
    <% end %>
      <div data-controller="toggle-favorite-event" class="like-icon mx-2" data-id="<%= event.id %>">
        <% favorited = current_user.favorited?(event) %>
        <%= link_to toggle_favorite_event_path(event), remote: true, data: { turbo_method: :post, action: "click->toggle-favorite-event#toggle"}, class: "#{'red' if favorited}" do %>
          <div data-toggle-favorite-event-target="link">
            <%= render 'events/heart', favorited: favorited %>
          </div>
        <% end %>
      </div>
  </div>
</div>
