<div class="banner-border">
  <%= link_to venue_path(venue) do %>
  <div class="banner" style="background-image: url('<%= cl_image_path venue.photos[0].key, crop: :fill %>');">
    <div class="container">
      <h2><%= venue.name.titleize %></h2>
      <p text-center><%= venue.location %></p>
    </div>
  </div>
  <% end %>
</div>
<br>
<p style="font-size: 20px">Current Events:</p>
<div class="scroll-container">
<div class="container">
  <div>
    <div>
      <% venue.events.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="card-product window-card">
          <% if event.images.attached? %>
            <%= cl_image_tag event.images[0].key, crop: :fill %>
          <% end %>
          <div class="card-product-infos window-card-info">
             <h2><%= event.name.titleize %></h2>
             <p><%= event.time.to_formatted_s(:short) %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
