<H1>This is the Home page</H1>

<%= form_with url: events_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find Event!"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<p><%= link_to "Add New Venue", new_venue_path, class: "btn btn-warning" %></p>

<% if false %>
  <% @events.each do |event| %>
  <h2> <%= link_to event.name, event_path(event) %> </h2>
  <h3> $$ <%= event.price %> </h3>
  <% if event.cash == false %>
  <h2>cash <%= "❌" %></h2>
  <% else %>
  <h2>cash <%= "✅" %></h2>
  <% end  %>
  <% end %>
<% end %>



<%# <h2> card <%= check_box_tag(event.card)%>
