<div class="fluid-container map-box">
  <%= form_with url: events_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find Event!"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <%# <%= link_to "Add New Venue", new_venue_path, class: "btn btn-warning" %>

  <div style="width: 100%; height: 563px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div class="container">
  <%= render 'shared/index_list', events: @events %>
</div>
