<div class="main-map">
  <div class="fluid-container map-box">
    <%# search search %>
    <%= form_with url: events_path, method: :get do |event| %>
      <%= event.select :category, [["Any"],["Activity"], ["Music"], ["Art"], ["Cinema"], ["Food & Drink"] ],
        value: params[:category],
        class: "form-control" %>
      <%= event.select :genre, [["Any"],["Electronic"], ["DJ"], ["Indie"], ["Rock"], ["Techno"], ["Hip-hop"], ["Disco"], ["Jazz"]],
        value: params[:genre],
        class: "form-control" %>
      <%= event.select :price, [["Any"], ["Free"], ["Under £10"], ["Under £20"], ["Over £20"]],
        value: params[:price],
        class: "form-control" %>
      <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"]%>">
        <input data-address-autocomplete-target="address" class="d-none" label="Location" type="text" name="location" id="location">
      </div>
      <%= submit_tag "submit", class: "btn btn-primary" %>
    <% end %>
    <div style="width: 100%; height: 480px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>


<%# <div id="geocoder" class="geocoder"></div> %>
