<div class="container" style="padding-bottom: 75px;">
  <div class="create-event-form">
      <h1>Add your venue</h1>
    <%= simple_form_for @venue do |f| %>
    <%= f.input :name, label: false, placeholder: 'Venue name' %>
    <%= f.input :location,
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
                label: 'Location'
                %>
    <%= f.input :about, label: false, placeholder: 'Describe your venue'%>
    <%= f.input :website, label: false, placeholder: 'Website' %>
    <%= f.input :facebook, label: false, placeholder: 'Facebook' %>
    <%= f.input :instagram, label: false, placeholder: 'Instagram' %>
    <%= f.input :logo, as: :file, lable: 'Add your venue logo!' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <p class="button-general"><%= f.button :submit %> </p>
    <% end %>
  </div>
</div>
