<div class="container">
<%= simple_form_for @venue do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
   <%= f.input :about%>
    <%= f.input :website %>
     <%= f.input :facebook %>
      <%= f.input :instagram %>
       <%= f.input :logo %>
        <%= f.input :photos %>
  <%= f.button :submit %>
<% end %>
</div>
