<div class="container" style="padding-bottom: 75px;">
<h1> Add New Venue </h1>

<%= simple_form_for @venue do |f| %>
  <%= f.input :name, label: 'Venue name?'%>
  <%= f.input :location, label: 'Where is it?' %>
   <%= f.input :about, label: 'Describe your venue'%>
    <%= f.input :website %>
     <%= f.input :facebook %>
      <%= f.input :instagram %>
        <%= f.input :photo, as: :file %>
  <p class="button-general"><%= f.button :submit %> </p>
<% end %>
</div>
