<div class="container" style="padding-bottom: 75px;">
<%= simple_form_for @venue do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
   <%= f.input :about%>
    <%= f.input :website %>
     <%= f.input :facebook %>
      <%= f.input :instagram %>
       <%= f.input :logo %>
        <%= f.input :photos %>
  <p class="button-general"><%= f.button :submit %> </p>
<% end %>
</div>
