<%= render "shared/carousal", images: @venue.photos %>
<div class="container" style="padding-bottom: 65px; padding: 20px;">
  <div>
    <div class="header-container">
      <h2 style="font-weight: bolder; color: #09495D; text-align: "><%= @venue.name.titleize %></h2>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="<%=@venue.facebook %>"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="<%=@venue.instagram %>" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
        </li>
        <li class="list-inline-item">
          <a href="<%=@venue.website %>" target="_blank"><i class="fa-solid fa-globe"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <i style="padding-bottom:20px;"class="fa-solid fa-location-dot"></i> <%= @venue.location %>
  <p> <%= @venue.about %></p>
  <h4 style="font-weight: bolder; color: #09495D; text-align: center">Events Happening Here</h4>
  <div >
    <div class="scroll-container-two">
      <div class="container">
        <% @venue.events.each do |event| %>
          <%= link_to event_path(event) do %>
            <div class="card-product window-card">
              <%= cl_image_tag event.images[0].key, crop: :fill %>
              <div class="card-product-infos window-card-info">
                <h2><%= event.name.titleize %></h2>
                <p>Time: <%= event.time.to_formatted_s(:time) %></p>
                <% if event.date == nil %>
                <p> Please contact Venue for Event date...  </p>
                <% else %>
                 <p>Date: <%= event.date.to_formatted_s(:long) %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <p><%= link_to "Add Event", new_venue_event_path(@venue), class: "button-general" %></p>
  </div>
</div>
</div>
