<div class="container">
  <div class="row py-4">
    <div class="login-form col" style="color: #0495D">
      <h1><strong>You are about to book:</strong></h1>
        <h4><strong><%= @booking.event.name %></strong></h4>
      <p><strong>£<%= @booking.event.price %></strong> per ticket </p>
      <% if @booking.event.date == nil %>
      <p>Please contact the venue for the date.</p>
      <% else %>
      <p>On <strong><%=  @booking.event.date.to_formatted_s(:long) %></strong> at <strong><%= @booking.event.time.to_formatted_s(:time) %></strong></p>
      <% end %>
      <p><strong><%= humanized_money_with_symbol @booking.amount %></strong> in total </p>
      <button id="pay" class="button-general">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
