<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Event: <strong><%= @booking.event.name %></strong> </p>
      <p>@ <strong>£<%= @booking.event.price %></strong> per ticket </p>
      <p>Totoal: <strong><%= humanized_money_with_symbol @booking.amount %></strong> </p>
      <p>Date: <%= @booking.event.date.to_formatted_s(:long)  %> </p>
      <p>Time: <%= @booking.event.time.to_formatted_s(:time) %> </p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
